section.slider{
	width: 900px;
	height: 300px;
	margin: 100px auto 0 auto;
}

section.slider section.cube{
	-webkit-perspective: 1000;
}

section.slider section.cube ul{
	height: 300px;
	list-style: none;
	padding: 0;
	margin: 0;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-webkit-animation: rotate 10s infinite;
}

section.slider section.cube ul > li{
	height: 300px;
	width: 900px;
	display: block;
	padding: 0;
	margin: 0;
	position: absolute;
	/*opacity: 0.5;*/
}

section.cube ul li{
	-webkit-transition: all 1s ease;
}

section.cube ul li:nth-child(1){ -webkit-transform: rotate3d( 1, 0, 0, 0deg ) translate3d(0, 0, 150px); }
section.cube ul li:nth-child(2){ -webkit-transform: rotate3d( 1, 0, 0, 90deg ) translate3d(0, 0, 150px); }
section.cube ul li:nth-child(3){ -webkit-transform: rotate3d( 1, 0, 0, 180deg ) translate3d(0, 0, 150px); }
section.cube ul li:nth-child(4){ -webkit-transform: rotate3d( 1, 0, 0, 270deg ) translate3d(0, 0, 150px); }

@-webkit-keyframes rotate{
	0%		{ -webkit-transform: translate3d(0, 0, -150px) rotate3d(1, 0, 0, 0deg); }
	25%		{ -webkit-transform: translate3d(0, 0, -150px) rotate3d(1, 0, 0, -90deg); }
	50%		{ -webkit-transform: translate3d(0, 0, -150px) rotate3d(1, 0, 0, -180deg); }
	75%		{ -webkit-transform: translate3d(0, 0, -150px) rotate3d(1, 0, 0, -270deg); }
	100%	{ -webkit-transform: translate3d(0, 0, -150px) rotate3d(1, 0, 0, -360deg); }
}